.colorBoton {
    background-color: aliceblue;
}

.fondoNavbar {
    background-color: #edede9;
}



.informacion {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#admin {
    width: 200px;
}